.titulo{
    font-family: sans-serif;
    text-align: center;
    text-shadow: 2px 2px 3px #CC33CC;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: #FF0000;
}

#botaoPedido,
.campo{ 
 
    display: block;
    margin-left: auto;
    margin-right: auto;
}